<style>
#footer {
	display: none;
}
</style>

<div class="center-wrapper">
	<h1 style="text-align:center;">Where is</h1>
	<br>
	<div>
		<div class="input-group" style="width: 100%;">
			<input type="text" class="form-control" placeholder="아이디" aria-describedby="basic-addon1">
		</div>
	</div>
	<br>
	<div>
		<div class="input-group" style="width: 100%;">
			<input type="text" class="form-control" placeholder="비밀번호" aria-describedby="basic-addon1">
		</div>
	</div>
	<br>
	<div style="text-align: center;">
		<a href="/registration"><button type="button" class="btn btn-default">로그인</button></a>
		<a href="/registration"><button type="button" class="btn btn-primary">가입</button></a>
	</div>
</div>