<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />
<title>Where is</title>

<link href="@{libs}/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">

<script src="@{libs}/jquery-2.2.3.min.js"></script>
<script src="@{libs}/bootstrap-3.3.6/js/bootstrap.min.js"></script>

<script src="@{libs}/rest-api.js"></script>
</head>

<body>
	${#{page}}
</body>

</html>